          <div class="container-fluid mt-5" id="about">
            <h1 class="text-center main-heading">About Us</h1>
            <p class="text-center sub-heading">Lorem ipsum dolor sit amet.</p>
        <div class="row">
          <div class="col-md-10 col-12 mx-auto">
            <div class="row">
              <div class="col-md-6 col-12 hero-text ">
                  <figure>
                    <img src="images/about.svg" alt="herosection_image" />
                  </figure>
              </div>
              <div class="col-md-6 col-12 hero-text ">
                        <h1>Lorem ipsum dolor .</h1>
                        <h1>Lorem ipsum dolor .</h1>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button class="btn-style btn-primary">Read More</button>
              </div>
              
            </div>
          </div>
        </div>
       </div>